/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

button {
    display: block;
    margin: 2rem auto;
    padding: .5rem;
    border-radius: .4rem;
    font-weight: 600;
    cursor: pointer;
}
#container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    width: 402px;
    height: 402px;
    border: 1px solid #000000;
}