/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    width: 20rem;
    height: 20rem;
    border: 1px solid #000000;
}